* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.container {
  text-align: center;
  width: 400px;
  overflow: hidden;
  transition: 350ms ease-out;
  height: 200px;
}
.item {
  overflow: hidden;
  z-index: 1;
  background-color: antiquewhite;
  position: relative;
  max-height: 80%;
  background-color: red;
}

.item img {
  background: no-repeat cover;
}
.item_overlay {
  transition: transform 500ms ease-out;
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  transition-delay: 350ms;
  background-color: aqua;
}

.item_bottom_text {
  transition: transform 500ms ease-out;
  z-index: 2;
  background-color: beige;
}

.container:hover .item_overlay {
  transform: translateY(100%);
}
.container:hover .item_bottom_text {
  transform: translateY(-50px);
  display: block;
}
.container:hover {
  animation: img_bounce 350ms ease-in;
}

@keyframes img_bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
