@media (min-width: 900px) {
  .exhibition_container p {
    font-size: 1.1vw;
  }
  .exhibition_container {
    max-height: 500px;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .main_section :nth-child(even) .exhibition_container {
    flex-direction: row-reverse;
  }
  .exhibition_container img {
    flex: 1 1 auto;
    max-width: 50%;
  }
  .info_box {
    flex: 1 1 auto;
  }
}
@media (min-width: 500px) {
}
