* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 5vw;
  text-transform: capitalize;
  text-align: center;
}
body {
  text-align: center;
}
svg {
  width: 140%;
  margin: 0 auto;
}
.svg_frame {
  width: 100%;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}
