/*variables*/
:root {
  --bg-color: #e5eef6;
  --main-color: #ff8c1a;
  --sec-color: #59cdf0;
  --third-color: #1c83a3;
  --font-color: black;
  --border-color: #707070;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/*GLOBAL styles*/
h1 {
  font-family: roboto-slab, Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 3em;
  text-transform: capitalize;
  text-align: center;
}
.logo_h1 {
  color: var(--main-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--font-color);
  font-size: 4em;
}
h2 {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-style: bold;
  margin: 20px 0 10px 0;
  text-align: center;
  text-transform: capitalize;
}
.getinvolved_info_section h2 {
  font-size: 1em;
}
.extra_big {
  font-family: roboto-slab, Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
}
h3,
label {
  font-family: roboto, serif;
  font-size: 1em;
  font-style: bold;
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0 5px 0;
}
p,
textarea {
  font-family: roboto mono, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  max-width: 700px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover h2 {
  text-decoration: underline;
}

/*BACKGROUND*/
body {
  background: url(Images/roberto-nickson-396152.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 75%;
}
.background_overlay h1 {
  background-color: rgba(0, 0, 0, 0.576);
}
/*WHITE*/
.main_section,
.main_exhibition_section,
header,
.hamburger_menu_overlay,
.logo_h1,
.aboutus_main_section,
.event_info_box,
.article_main_section,
.main_getinvolved_section,
.volunteer_overlay,
.internship_overlay,
.support_overlay {
  background-color: white;
}

.background_overlay {
  height: fit-content;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(1px);
  backdrop-filter: brightness(20%);
}
/*HEADER SPECIFIC styles*/
header {
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}
header ul {
  width: 100%;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
header a {
  border: white 2px solid;
  border-radius: 4px;
  transition-duration: 300ms;
  transition-property: border;
  transition-timing-function: ease-out;
}
header a:hover {
  border: var(--border-color) 2px solid;
}
.nav_cta {
  font-family: roboto, serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: capitalize;
}
li {
  display: inline-block;
  width: 140px;
  text-align: center;
  padding: auto;
}
li a {
  display: block;
  width: 136px;
  padding: 10px 0px;
}
.hamburger_menu {
  display: none;
}
.hamburger_menu_overlay {
  z-index: -1;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 0%;
  opacity: 0;
  transition: opacity 200ms ease-out, transform 400ms ease-out;
  transform: translateY(-10px);
}
.hamburger_menu svg {
  margin: 10px;
}
input[type="checkbox"] {
  display: none;
}
#hamburger_checkbox[type="checkbox"]:checked ~ .hamburger_menu_overlay {
  z-index: 5;
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
  transition: opacity 200ms ease-out, transform 400ms ease-out;
}

/*logo*/
.home_cta_logo {
  width: 200px;
}
.home_cta_logo svg {
  width: 100%;
}

/*main sections*/
.main_section,
.main_exhibition_section,
.main_event_section,
.aboutus_main_section {
  background-color: rgb(255, 255, 255);
  padding: 50px 10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*HOME*/
.content_section {
  padding: 10px;
  width: 100%;
  max-width: 1400px;
  height: fit-content;
  gap: 50px;
  display: flex;
  justify-content: start;
  scroll-snap-type: x mandatory;
}
.content_section {
  overflow: hidden;
  height: fit-content;
}
.container {
  width: 60vw;
  height: 60vw;
  max-height: 250px;
  max-width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
  border-radius: 5px;
  scroll-snap-align: center;
  flex: none;
  transition: 250ms ease-out;
  overflow: hidden;
}
/* container backgrounds*/

.container_background_1 {
  background-image: url(/Images/exhibition-1863344_1920.jpg);
  background-size: cover;
  background-position: center;
}
.container_background_2 {
  background-image: url(/Images/billetto-editorial-334686.jpg);
  background-size: cover;
  background-position: top center;
}
.container_background_3 {
  background-image: url(/Images/roberto-nickson-396152.jpg);
  background-size: cover;
  background-position: center;
}
.container_background_4 {
  background-image: url(/Images/teacher-2816112.jpg);
  background-size: cover;
  background-position: top center;
}
.container_background_5 {
  background-image: url(/Images/people-219985_1280.jpg);
  background-size: cover;
  background-position: center;
}
.container_background_6 {
  background-image: url(/Images/pexels-ksenia-chernaya-3951751.jpg);
  background-size: cover;
  background-position: center;
}

.item {
  overflow: hidden;
  z-index: 1;
  position: relative;
  height: 80%;
  transition: 190ms linear 500ms;
}

.item_overlay {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
  transition: transform 250ms linear 300ms;
}
.item_overlay h2 {
  margin: 10px 0;
}
.item_overlay p {
  max-width: 80%;
}
.item_bottom_text {
  transition: transform 150ms ease-out;
  z-index: 2;
  height: fit-content;
}
.item_bottom_text h2 {
  margin: 0;
}
/*info section*/
.info_section {
  margin: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  text-align: center;
}

.info_section p {
  max-width: 25ch;
  font-size: 1em;
}

/*exhibition*/

.exhibition_container {
  height: fit-content;
  max-height: 400px;
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
  background-color: white;
  margin: 30px 20px;
}

.exhibition_container img {
  width: 50%;
  object-fit: contain;
  background-color: black;
}

.info_box {
  margin: 0 auto;
  padding: 15px;
}
.info_box p {
  font-size: 1em;
}
.info_box h2 {
  margin-top: 0;
}
/*event section*/
.event_container {
  width: 48%;
  position: relative;
  min-width: 300px;
  margin: 10px;
}
.upcomming {
  width: 100%;
}
.upcomming .event_info_box {
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 5%;
}
.upcomming_tag {
  font-family: roboto-slab, serif;
  position: absolute;
  top: -30px;
  left: 5%;
  background-color: var(--sec-color);
  font-size: 4em;
  border-radius: 30px 5px 30px 5px;
  padding: 10px;
}
.event_info_box {
  display: grid;
}
.event_info_box p {
  font-size: 1em;
  max-width: 600px;
}
.event_info_box div {
  text-align: start;
  display: grid;
  justify-content: center;
}
.event_info_box h2 {
  font-size: 1.7em;
  text-align: start;
}
.event_info_box a {
  font-family: roboto, serif;
  font-size: 2em;
  font-style: bold;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
}
.upcomming h2 {
  font-size: 2em;
}
.event_container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
.when_where_container {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
/*ABOUT*/
.aboutus_main_section {
}
.explore_together_section p {
  max-width: 800px;
}
.explore_together_section,
.explore_section,
.general_info_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
  padding: 20px;
  margin: 20px;
}
.split {
  display: flex;
}
.explore_section {
}

.aboutus_main_section .img_frame {
  height: 300px;
  overflow: hidden;
}
.aboutus_main_section .img_frame img {
  width: 100%;
  object-fit: contain;
  object-position: 0 -500px;
}
/*about us FORM*/

label {
  text-align: start;
  margin-top: 10px;
  margin-bottom: 5px;
}
.message_text {
  text-align: center;
}
form div {
  display: grid;
  width: 70%;
  margin: 0 auto;
}
legend {
  display: none;
}
fieldset {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
}
.submit_btn {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  background-color: rgb(1, 73, 1);
  color: white;
  font-size: 2em;
  float: right;
}
textarea {
  width: 100%;
  resize: none;
}
/*article*/
.article_main_section {
  width: 100%;
  padding: 10px;
}
.main_article {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
  display: grid;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}
.main_article .img_frame {
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  margin: 0 auto;
}
.main_article .img_frame img {
  width: 100%;
  object-fit: contain;
}
.other_articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.other_articles > * {
  margin: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
}
.other_articles img {
  width: 100%;
}
.other_articles .img_frame {
  width: 100%;
  overflow: hidden;
}
.article_text {
  width: 100%;
  margin: 0 auto;
}

.article_h1 {
  font-size: 5vw;
  color: black;
}
/*get involved*/
.main_getinvolved_section {
  width: 100%;
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
}
.main_getinvolved_section .img_frame {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.main_getinvolved_section .img_frame img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.support,
.volunteer,
.internships {
  min-width: 400px;
  height: fit-content;
  padding: 30px;
  margin: 5px;
  flex: 1;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
}
.main_getinvolved_section fieldset {
  margin: 20px 0;
}

/* footer */
.sticky_item {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: #e6d6b5;
}
footer {
  background-color: white;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  align-items: center;
}
footer .home_cta_logo svg {
  width: 70px;
}
footer .nav_cta {
  font-size: 1em;
}

.sticky_item img {
  width: 100%;
}

/**/
@keyframes img_bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  /*FONTS*/
  h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 00.8em;
    margin-bottom: 10px;
  }
  .event_container h2 {
    font-size: 1em;
  }
  /*HEADER*/
  header nav {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  /*LOGO*/
  .home_cta_logo {
    margin-left: auto;
  }
  /*MAIN*/
  .main_section {
    padding: 0;
  }
  /*HOME*/
  /*EXHIBITIONS*/
  .exhibition_container {
    display: block;
    max-height: fit-content;
    width: 300px;
  }
  .exhibition_container img {
    width: 100%;
  }
  .exhibition_container p {
    font-size: 1em;
  }
  /*EVENT*/

  .upcomming_tag {
    font-size: 5vw;
    border-radius: 2vw 0 2vw 0;
  }

  .upcomming .event_info_box {
    position: unset;
  }

  /*ABOUT*/
  .google_map {
    max-width: 100%;
  }
  .split {
    flex-wrap: wrap;
  }
  .aboutus_main_section .img_frame img {
    object-position: 0 -200px;
  }
  /*GET INVOLVED*/
  /*ARTICLE*/
  .article_main_section {
    width: 100%;
  }
  /*GLOBAL*/
}
@media (max-width: 500px) {
  /*FONTS*/
  h1 {
    font-size: 2em;
  }
  .container h2 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 5vw;
  }
  .extra_big {
    font-size: 10vw;
  }
  .background_overlay p {
    font-size: 4vw;
  }
  .getinvolved_info_section h2 {
    font-size: 0.5em;
  }
  /*HEADER*/
  /*LOGO*/
  /*MAIN*/
  /*HOME*/
  .content_section {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .content_section {
    gap: 0;
    padding: 10px 30px;
  }
  .container {
    margin: 0 10px;
  }
  /*EXHIBITIONS*/
  /*EVENTS*/
  .event_container {
    min-width: 100px;
    width: 100%;
  }
  /*ABOUT*/
  .contact_form {
    width: 100%;
  }
  .aboutus_main_section .img_frame img {
    object-position: 0 0;
  }
  /*GET INVOLVED*/
  .support,
  .volunteer,
  .internships {
    min-width: 100px;
  }
  .main_getinvolved_section {
    display: block;
    padding: 2px;
  }
  /*GLOBAL*/
  .info_container p {
    width: 100%;
  }
  .sticky_item {
    position: relative;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .getinvolved_info_section label h2 {
    font-size: 4vw;
    padding: 0;
  }
  .hamburger_menu_overlay ul {
    width: 100%;
  }
  .google_map {
    display: none;
  }
}
@media (min-width: 500px) {
  .content_section {
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content_section h2 {
    font-size: 2em;
  }

  .content_section {
    overflow: hidden;
    height: fit-content;
  }

  .container:hover .item_overlay {
    transform: translateY(100%);
  }
  .container:hover .item_bottom_text {
    transform: translateY(-200%);
  }
  .container:hover {
    animation: img_bounce 350ms ease-out;
  }
  .main_exhibition_section :nth-child(even) {
    flex-direction: row-reverse;
  }
}
