/*variables*/
:root {
  --bg-color: #e5eef6;
  --main-color: #ff8c1a;
  --sec-color: #59cdf0;
  --third-color: #1c83a3;
  --font-color: black;
  --border-color: #707070;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GLOBAL styles*/
h1 {
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 10vw;
  text-transform: capitalize;
  text-align: center;
}
.logo_h1 {
  color: var(--main-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--font-color);
  font-size: 4em;
}
h2 {
  font-family: roboto, serif;
  font-size: 2em;
  font-style: bold;
  margin-bottom: 25px;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
}
h3 {
  font-family: roboto, serif;
  font-weight: 400;
  font-style: bold;
  margin: 0;
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
}
p {
  font-family: roboto mono, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6em;
  margin: 10px;
  word-break: break-word;
}
.background_overlay p {
  color: white;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
/*BACKGROUND*/
body {
  background: url(Images/roberto-nickson-396152.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 75%;
}
h1,
.background_overlay p {
  background-color: rgba(0, 0, 0, 0.576);
}
.main_section,
.main_exhibition_section,
header,
.hamburger_menu_overlay,
.logo_h1 {
  background-color: white;
}

.background_overlay {
  height: fit-content;
  max-height: 50vh;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(1px);
  backdrop-filter: brightness(20%);
}
.background_overlay p {
  font-size: 1em;
  text-align: center;
  padding: 30px;
}
/*HEADER SPECIFIC styles*/
header {
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}
header ul {
  width: 100%;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
header a {
  border: white 2px solid;
  border-radius: 4px;
  transition-duration: 300ms;
  transition-property: border;
  transition-timing-function: ease-out;
}
header a:hover {
  border: var(--border-color) 2px solid;
}
.nav_cta {
  font-family: roboto, serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: capitalize;
}
li {
  display: inline-block;
  width: 140px;
  text-align: center;
  padding: auto;
}
li a {
  display: block;
  width: 136px;
  padding: 10px 0px;
}
.hamburger_menu {
  display: none;
}
.hamburger_menu_overlay {
  width: 200px;

  position: absolute;
  top: 100px;
  left: 0%;
  opacity: 0;
  transition: opacity 200ms ease-out, transform 200ms ease-out;
  transform: translateY(-10px);
}
.hamburger_menu svg {
  margin: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .hamburger_menu_overlay {
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
}

/*logo*/
.home_cta_logo {
  width: fit-content;
}
.main_logo {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
}

.home_cta_logo h3 {
  margin-top: -15px;
  font-size: 1em;
}

.home_cta_logo svg {
  width: 70%;
}

/*main sections*/
.main_section,
.main_exhibition_section,
.main_event_section {
  background-color: rgb(255, 255, 255);
  gap: 10px;
  padding: 50px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*content section*/
.content_section {
  padding: 10px;
  width: 100%;
  height: 70vw;
  gap: 50px;
  display: flex;
  justify-content: start;
  scroll-snap-type: x mandatory;
}

/* container backgrounds*/

.container_background_1 {
  background-image: url(/Images/exhibition-1863344_1920.jpg);
  background-size: cover;
  background-position: center;
}
.container_background_2 {
  background-image: url(/Images/billetto-editorial-334686.jpg);
  background-size: cover;
  background-position: top center;
}
.container_background_3 {
  background-image: url(/Images/roberto-nickson-396152.jpg);
  background-size: cover;
  background-position: center;
}
.container_background_4 {
  background-image: url(/Images/teacher-2816112.jpg);
  background-size: cover;
  background-position: top center;
}
.container_background_5 {
  background-image: url(/Images/people-219985_1280.jpg);
  background-size: cover;
  background-position: center;
}
.container_background_6 {
  background-image: url(/Images/pexels-ksenia-chernaya-3951751.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 60vw;
  height: 60vw;
  max-height: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
  border-radius: 5px;
  scroll-snap-align: center;
  flex: none;
  transition: 250ms ease-out;
  overflow: hidden;
}
.item {
  overflow: hidden;
  z-index: 1;
  position: relative;
  height: 80%;
  transition: 190ms linear 500ms;
}

.item_overlay {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  transition: transform 250ms linear 300ms;
}
.item_overlay h2 {
  margin: 25px 0;
}
.item_overlay p {
  max-width: 80%;
  margin: 0 auto;
}
.item_bottom_text {
  transition: transform 150ms ease-out;
  z-index: 2;
  height: fit-content;
}
/*info section*/
.info_section {
  margin: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  text-align: center;
}

.info_section p {
  max-width: 25ch;
  font-size: 1em;
}

/*exhibition*/
.main_exhibition_section :nth-child(even) {
  flex-direction: row-reverse;
}
.exhibition_container {
  max-height: 400px;
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.597);
  background-color: white;
  margin: 30px 20px;
}

.exhibition_container img {
  flex: 1;
  min-width: 50%;
  object-fit: fill;
  background-color: black;
}
.info_box {
  padding: 10px;
}
.info_box p {
  font-size: 1em;
}
/*event section*/
.event_container {
  background-color: white;
  width: 48%;
}
.upcomming {
  width: 100%;
}
.upcomming_tag {
  position: absolute;
  background-color: var(--sec-color);
  font-size: 4em;
  border-radius: 30px;
  padding: 10px;
}
.event_info_box {
  display: grid;
  grid-template-columns: 70% 30%;
}

.event_container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/* footer */
.sticky_item {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: #e6d6b5;
}
footer {
  background-color: white;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  align-items: center;
}
footer .home_cta_logo svg {
  width: 70px;
}
footer .nav_cta {
  font-size: 1em;
}

.sticky_item img {
  width: 100%;
}

/**/
@keyframes img_bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .main_section {
    padding: 0;
  }

  header nav {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }

  .home_cta_logo {
    margin-left: auto;
  }
  .exhibition_container img {
    max-width: 100%;
  }
  .exhibition_container p {
    font-size: 0.8em;
  }
  .exhibition_container {
    display: grid;
    height: fit-content;
    max-height: 700px;
    width: 300px;
  }
  .event_container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home_cta_logo h1,
  .home_cta_logo h3 {
    display: none;
  }
  .container h2 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 5vw;
  }
  .home_cta_logo {
    margin: auto;
  }
  .background_overlay p {
    font-size: 4vw;
  }
  .content_section {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .info_container p {
    width: 100%;
  }
  .google_map {
    display: none;
  }
  .sticky_item {
    position: relative;
    text-align: center;
  }
  .content_section {
    gap: 0;
  }
  .container {
    margin: 0 20px;
  }
}
@media (min-width: 500px) {
  .content_section {
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content_section h2 {
    font-size: 2em;
  }
  .container {
    max-width: 400px;
  }
  .content_section {
    overflow: hidden;
    height: fit-content;
  }

  .container:hover .item_overlay {
    transform: translateY(100%);
  }
  .container:hover .item_bottom_text {
    transform: translateY(-200%);
  }
  .container:hover {
    animation: img_bounce 350ms ease-out;
  }
}
@media (min-width: 350px) {
}
