/*variables*/
:root {
  --bg-color: #e5eef6;
  --main-color: #ff8c1a;
  --sec-color: #59cdf0;
  --third-color: #1c83a3;
  --font-color: black;
  --border-color: #707070;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*background & bakcground overlay*/
body {
  background: url(Images/roberto-nickson-396152.jpg);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 75%;
}

.background_overlay {
  background-color: rgba(255, 255, 255, 0.152);
  height: fit-content;
  padding: 50px 0;
  backdrop-filter: blur(1px);
  backdrop-filter: brightness(20%);
}
/*GLOBAL styles*/
h1 {
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 7vw;

  text-transform: capitalize;
  text-align: center;
}
h2 {
  font-family: roboto, serif;
  font-size: 3vw;
  font-style: bold;
  margin-bottom: 50px;
  text-align: center;
  white-space: nowrap;
}
h3 {
  font-family: roboto, serif;
  font-weight: 400;
  font-style: bold;
  margin: 0;
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
}
p {
  font-family: roboto mono, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6em;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
/*HEADER SPECIFIC styles*/
header {
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}
header ul {
  width: 100%;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
nav a {
  border: white 2px solid;
  border-radius: 4px;
  transition-duration: 300ms;
  transition-property: border;
  transition-timing-function: ease-out;
}
header nav a:hover {
  border: var(--border-color) 2px solid;
}
.nav_cta {
  font-family: roboto, serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: capitalize;
}
li {
  display: inline-block;
  width: 140px;
  text-align: center;
  padding: auto;
}
li a {
  display: block;
  width: 136px;
  padding: 10px 0px;
}
.hamburger_menu {
  display: none;
}
.hamburger_menu_overlay {
  width: 120px;
  position: absolute;
  top: 100px;
  left: 0%;
  background-color: #1c83a3;
  z-index: 10;
  display: none;
  text-align: center;
}
.hamburger_menu svg {
  margin: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .hamburger_menu_overlay {
  display: flex;
  flex-wrap: wrap;
}

/*logo*/
.home_cta_logo {
  margin-left: 10px;
  width: 250px;
}
.main_logo {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
}

.home_cta_logo h3 {
  margin-top: -15px;
  font-size: 1em;
}
.logo_h1 {
  color: var(--main-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--font-color);
  font-size: 4em;
  text-align: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.home_cta_logo svg {
  width: 100%;
  max-height: 70px;
}

/*GLOBAL WIDGETS*/

img {
  width: 100%;
}

.background_overlay p {
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 30px;
}

/*content section*/
.content_section {
  width: 100%;
  height: 63vw;
  gap: 15px;
  display: flex;
  justify-content: start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.content_section h2 {
  font-size: 6vw;
}
/* container backgrounds*/
.container_background_1 {
  background-image: url(/Images/andrew-ruiz-348421.jpg);
  background-size: cover;
}
.container_background_1 {
  background-image: url(/Images/mavis-cw-164128.jpg);
  background-size: cover;
}
.container_background_2 {
  background-image: url(/Images/billetto-editorial-334686.jpg);
  background-size: cover;
}
.container_background_3 {
  background-image: url(/Images/roberto-nickson-396152.jpg);
  background-size: cover;
}
.container_background_4 {
  background-image: url(/Images/people-219985_1280.jpg);
  background-size: cover;
}
.container_background_5 {
  background-image: url(/Images/people-219985_1280.jpg);
  background-size: cover;
}
.container_background_6 {
  background-image: url(/Images/people-219985_1280.jpg);
  background-size: cover;
}

.container {
  width: 60vw;
  height: 60vw;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  transition: 250ms ease-out;
  max-height: 250px;
  border-radius: 50px;
}
.item {
  overflow: hidden;
  z-index: 1;
  position: relative;
  height: 80%;
  transition: 190ms linear 500ms;
}
.img_frame {
  width: 70vw;
  height: 70vw;
}
.item img {
  display: none;
  width: 60vw;
  height: 50vw;
}
.item_overlay {
  transition: transform 250ms linear 300ms;
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  padding-top: auto;
  border: black 2px solid;
}
.item_overlay h2 {
  margin: 10px;
}

.item_bottom_text {
  transition: transform 150ms ease-out;
  z-index: 2;
  height: fit-content;
}
/*info section*/
.info_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  margin: 40px;
}
.info_section svg {
  margin: 0 auto;
}
.info_section p {
  max-width: 25ch;
}
.google_map {
}

/* footer */
.footer_cta {
  font-size: 2em;
}
footer {
  background-color: white;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sticky_item {
  position: sticky;
  top: 500px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/**/
@keyframes img_bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .main_section {
    padding: 10px;
  }
  .content_block {
    flex: 0 0 100%;
    min-width: 100px;
  }
  header nav {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  h1 {
    font-size: 15vw;
  }
  .home_cta_logo {
    width: 220px;
    height: 100%;
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .main_logo {
    width: 160px;
    font-size: 1em;
  }
  .home_cta_logo h3 {
    display: none;
  }
  .content_block h2 {
    font-size: 10vw;
  }
  .content_block {
    max-height: 200px;
  }
  .info_container p {
    width: 100%;
  }
  .logo_h1 {
    display: none;
  }
  .google_map {
    display: none;
  }
  .info_section {
    padding: 5px;
    text-align: start;
    background-color: red;
  }
}
@media (min-width: 500px) {
  .content_section {
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content_section h2 {
    font-size: 2em;
  }
  .container {
    max-width: 400px;
  }
  .content_section {
    overflow: hidden;
    height: fit-content;
  }
  .item img {
    max-width: 400px;
    height: fit-content;
  }
  .container:hover .item_overlay {
    transform: translateY(100%);
  }
  .container:hover .item_bottom_text {
    transform: translateY(-200%);
  }
  .container:hover {
    animation: img_bounce 350ms ease-out;
  }
}
@media (min-width: 350px) {
}
